/********************** CONTAINER *****************/

body {
	font-family: 'Nunito', sans-serif;
  text-align: center;
	color: black;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.container-wrap{
	padding-bottom: 2rem;
}

/********************** GENERAL STYLES *****************/


h1,h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
}

h1 {
	font-size: 2rem;
	color: #46413B;
}

h2 {
	font-size: 1.4rem;
	color: grey;
}


button {
	border:none;
}

button:focus, input:focus {
	outline: none;
}

input {
	border-style: none none solid none;
	border-color: black;
	width: 150px;
	font-size: 1em;
	letter-spacing: 3px;
	margin-left: 0.5em;
	padding-bottom: 5px;
	transition-duration: 0.3s;
	color: #36454f;
}

input:focus{
	width: 200px;
}

input:enabled{
	text-transform: none;
}

input::placeholder {
	color: grey;
	text-transform: lowercase;
	text-align: center;
}

/********************** HEADER *****************/


header {
  height: 140px;
  width: 100%;
  margin: 0 auto;
  line-height: 140px;
  font-size: 4rem;
  text-align: center;
	letter-spacing: 3px;
}


/********************** STARTER INSTRUCTIONS DIV *****************/


.starter button {
	padding: 10px;
	border: 1px solid grey;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0 10px;
	width: 200px;
	transition-duration: 0.3s;
	box-shadow: 2px 4px black;
	position: relative;
}

.starter button:focus{
	top: 3px;
	left: 1px;
	box-shadow: 1px 1px black;
}

.starter button:hover {
	background-color: grey;
}

#start-btn {
	background-color: #36454f;
	color: white;
	width: 150px;
}

#start-btn:hover {
	top: 1px;
	left: 3px;
	box-shadow: 1px 1px black;
	background-color: grey;
}

#error-container {
	margin: 30px 0;
	color: darkred;
}


#player-display {
	margin: 3%;
}

.active-btn {
	background-color: black;
	color: white;
}

#custom-col-container {
	margin: 30px 0;
}

#custom-col-container input {
	width: 100px;
	padding: 10px;
}
#custom-col-container input:hover {
	width: 130px;
}


/********************** GAME DISPLAYS DIV *****************/

/**** GENERAL ****/

.display {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}


.value {
	background-color: #36454f;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: 5px;
	display: inline-block;
}


.left-display {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right-display{
	flex: 1;
	display: flex;
	flex-direction: column;
}


.display-row {
	text-transform: uppercase;
	padding: 20px;
	text-align: center;
}


/**** MIDDLE DISPLAY ****/
#drawcard-btn {
	font-size: 1.5rem;
	color: white;
	background-color: #36454f;
	padding: 10px 40px;
	box-shadow: 2px 6px 5px rgba(0,0,0,0.5);
	position: relative;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition-duration: 0.2s;
	border-radius: 20px;
	border: none;
}

#drawcard-btn:hover{
	top: 1px;
	left: 4px;
	box-shadow: 1px 2px black;
}

#cards-in-play-container {
	text-align: center;
	flex: 1;
}

#latest-card{
	margin: 0 0 30px 0;
}

#current-status{
	font-style: italic;
}

/**** RIGHT DISPLAY ****/

#scoreboard .value {
	margin-left: 5px;
}

/********************** WILDCARD COLOR PICKER DIV *****************/
.color-picker{
	border-radius: 50px;
	padding: 20px;
	text-align: center;
}

.color-icon {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 10px;
	border: 1px solid #2b2d2f;
	box-shadow: 3px 6px rgba(0,0,0,0.4);
	transition-duration: 0.5s;
	position: relative;
}

.color-icon:focus, .color-icon:hover{
	transform: rotate(90deg);
	box-shadow: none;
	border-radius: 100%;
}

#confirm {
	display: block;
	font-size: 4rem;
	padding: 5px 40px;
	margin: 20px auto;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: inherit;
	position: relative;
	transition-duration: 0.2s;
	color: grey;
}

#confirm:hover, #confirm:focus {
	outline: none;
	color: green;
}

/********************** DECK OF CARDS *****************/
.deck-body {
	display: none;
	flex-direction: row;
	justify-content: center;
}

.deck {
	margin: 10px;
}

.flex {
	display: flex;
}

.user-col {
	flex: 1;
}

.opponent-col {
	flex: 1
}

.latest-card-image {
	transform: rotate(30deg);
	margin-top: 70px;
}

#player-deck .card-container:hover {
	box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 5px;
	left: 3px;
	top: 3px;
	transform: rotate(10deg);
}

/********************** UNO CARD STYLING *****************/

/****** GENERAL CARD STRUCTURE ********/
.card-container {
	font-family: "Arial", sans-serif;
	margin: 10px;
	display: inline-block;
	width: 120px;
	height: 180px;
	position: relative;
	border-radius: 8px;
	border: 2px solid black;
	transition-duration: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.8) 6px 6px 10px;
}

.card {
	width: inherit;
	height: inherit;
	box-sizing: border-box;
	border-radius: 5px;
	border: 10px solid white;
	color: white;
}

.card-ring {
	position: absolute;
	border: white 6px solid;
	transform: rotateZ(30deg);
	width: 70px;
	height: 140px;
	border-radius: 80%;
	left: 20px;
}

.top-left {
	position: absolute;
	top: 15px;
	left: 17px;
	font-weight: bold;
	text-shadow: -2px 0 #000000;
  -webkit-text-stroke: 1px black;
}

.middle {
  position: absolute;
	line-height: 160px;
	text-align: center;
	font-weight: bold;
	text-shadow: -5px -1px #000000;
	-webkit-text-stroke: 2px black;
}

.bottom-right {
	position: absolute;
	bottom: 13px;
	right: 17px;
  font-weight: bold;
  text-shadow: -2px 0 #000000;
	-webkit-text-stroke: 1px black;
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
/****** NUMBER COLOR CARDS ********/
.number-middle {
  font-size: 4.5rem;
  left: 45px;
}
.number {
  font-size: 2rem;
}
/****** DRAW-X CARDS ********/
.draw {
  font-size: 1.5rem;
}

.draw-middle {
  font-size: 3rem;
  left: 30px;
}

/****** SKIP/REVERSE CARDS ********/
.action {
  font-size: 1.5rem;
}

.action-middle {
  font-size: 3rem;
  left: 40px;
}

/****** WILD CARDS ********/
.wild-middle {
  font-size: 3rem;
  left: 20px;
}

.wild {
  -webkit-text-stroke: 0;
	 background-color: black;
}

.wild-ring {
  background-color: white;
}


/****** WILD CARD ICON STYLING ********/
.wild-icon {
  width: 22px;
  height: 40px;
	border: 1px solid black;
  border-radius: 3px;
  transform: skew(-15deg, -15deg);
  z-index: 20;
  position: absolute;
}

.wild-icon-inner {
  width: 18px;
  height: 36px;
  margin: 0 auto;
  border: 2px solid white;
  position: absolute;
  border-radius: 1px;
}

.wild-top {
  top: 30px;
  left: 33px;
  background-color: red;
}

.wild-left {
  top: 50px;
  left: 20px;
  background-color: blue;
}
.wild-bottom {
  top: 66px;
  left: 30px;
  background-color: yellow;
  box-shadow: 2px 2px black;

}
.wild-right {
  top: 50px;
  left: 45px;
  background-color: green;
  box-shadow: 2px 2px black;
}

/****** BACK FACING CARDS ********/
.back-card {
  background-color: black;
}

.back-middle {
  font-family: "Helvetica", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  transform: rotate(-20deg);
  left: 22px;
  color: #f5ea74;
  text-shadow: -3px -1px darkblue;
  -webkit-text-stroke: 2px black;
}

.back-ring {
  background-color: red;
  border: none;
  width: 70px;
  height: 150px;
  left: 25px;
}

/********************** FOOTER *****************/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 2rem;
	text-transform:uppercase;
	letter-spacing: 2px;
	font-size: 0.7rem;
	color: grey;
}

/********************** HIDE STYLE *****************/
.hide {
	display: none;
}
